.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 720px;
  background: #f4ecf7;
  border-radius: 20px;
  padding: 32px;
  position: relative;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
}

input,
textarea {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
}

button {
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.calendar button.active {
  background: black;
  color: white;
}
